PORT=5001
MONGODB_URI=mongodb://localhost:27017/a1chairs
JWT_SECRET=your_jwt_secret_here
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
BREVO_SMTP_HOST=smtp-relay.brevo.com
BREVO_SMTP_PORT=587
BREVO_SMTP_USER=your_brevo_login_email
BREVO_SMTP_KEY=your_brevo_smtp_key
NOTIFY_EMAIL=owner@a1chairs.com
